<h3>Albumes</h3>
<div class="row">
    <div class="col-sm-6 col-md-4"
            ng-repeat="album in albumes | orderBy:['-year','title']"
            ng-class="{'new-row': startNewRow($index, columnBreak) }">
        <div class="thumbnail">
            <img src="/jeviteca/resources/img/{{ ::album.image }}">
            <div class="carousel-caption">
                <h4>{{ ::album.title | fullTitle: album.year }}</h4>
            </div>
            <!--<div class="caption">-->
                <!--<h4>{{ ::album.title | fullTitle: album.year }}</h4>-->
                <!--<ul class="list-unstyled">-->
                    <!--<li ng-repeat="track in album.tracklist" >-->
                        <!--{{::track}}-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            <!--</div>-->
        </div>
    </div>
</div>

