<span>
    <span ng-show="supportsLocalStorage()">
        <span ng-click="setFavorite()" ng-hide="isFavorite()" class="glyphicon glyphicon-star-empty" style="font-size: 25px; color:yellow; text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);"></span>
        <span ng-click="unsetFavorite()" ng-show="isFavorite()" class="glyphicon glyphicon-star" style="font-size: 25px; color:yellow; text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3); "></span>
    </span>
</span>